.maxWidthContainer {
	width: 100%;
	margin: 0px auto;
	padding: 0 16px;

	@media (min-width: 768px) {
		padding: 0 36px;
	}

	@media (min-width: 1124px) {
		padding: 0 24px;
	}

	@media (min-width: 1366px) {
		width: 1320px;
		padding: 0;
	}
}